@import url('https://fonts.googleapis.com/css?family=Roboto:700');

body {
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    -webkit-font-smoothing: antialiased;
}

h4, h3, h2, h1 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

p {
    font-size: 1.1em;
}

#our-tscm-surveys {
    margin-bottom: 40px;
}

#bugging-faq div {
    padding-top: 60px;
    background-position: -200px -70px;
}

#bugging-faq-xs div {
    padding-top: 0px;
    background-position: -409px -14px;
}

#centered-button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

#footer-email-icon {
    padding-right: 6px;
}

#footer-phone-icon {
    padding-right: 10px;
}

#footer-facebook-icon {
    padding-right: 11px;
}

#footer-linkedin-icon {
    padding-right: 3px;
}

html {
    position: relative;
    min-height: 100%;
    /*margin-top: 60px;  */
}

body {
    margin-top: 38px;
    /*font-family: 'Open Sans', sans-serif !important;*/
}

.justify {
    text-align: justify;
}

#bug-sweeping-icon-xs i {
    margin-top: 1em;
}

#why-detection-picture {
    margin-top: 25px;
}


/*SECTIONS*/

#front-page-marketing-row-of-3 {}

#commercialcctvoverlay {
    position: absolute;
}

#navbar-call-button {
    margin-top: 17px;
    margin-right: 14px;
}

#bugging-faq-wrap {
    /*margin-left: 1em;*/
    /*margin-right: 1em;*/
}

#footer-overlay {
    position: absolute;
    z-index: 2;
    bottom: 50px;
    left: 50%;
    width: 250px;
    height: 250px;
    margin-left: -125px;
    opacity: 0.15;
    top: 70px;
}

#footer-overlay-sm {
    position: absolute;
    z-index: 2;
    bottom: 50px;
    left: 50%;
    width: 150px;
    height: 150px;
    margin-left: -75px;
    opacity: 0.35;
}

#navbar-call-button-phone {
    /*margin-right: 8px;*/
}

#phone-beside-number {
    margin-right: 8px;
}

i.margin-right-8 {
    margin-right: 8px;
}

#navbar-call-button-sm {
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}


/*TOOLS */

.1emheadspace {
    margin-top: 1em;
}

.3emheadspace {
    margin-top: 3em;
}

.4emheadspace {
    margin-top: 4em;
}

.5emheadspace {
    margin-top: 5em;
}

.6emheadspace {
    margin-top: 6em;
}

.7emheadspace {
    margin-top: 7em;
}

.8emheadspace {
    margin-top: 8em;
}

.3emfootspace {
    margin-bottom: 3em;
}

.4emfootspace {
    margin-bottom: 4em;
}

.5emfootspace {
    margin-bottom: 5em;
}

.6emfootspace {
    margin-bottom: 6em;
}

.7emfootspace {
    margin-bottom: 7em;
}

.8emfootspace {
    margin-bottom: 8em;
}

.bottompushimages {
    margin-bottom: 3em;
}

#navbartoggleswitch {
    margin-top: 17px;
}

html body footer div#footer div#areyouconcerned.container div#linkinghomefooter div#linktofocalise a i.fa {
    margin-right: 6px;
}

#linktofocalise a,
#linktofocalise > i {
    text-decoration: none;
    color: #797979;
}

#linktofocalise a:hover {
    text-decoration: none;
    color: #777777;
}

#linkinghomefooter {
    padding: 10px;
    padding-left: 0px;
}

.jumbotron {
    margin-top: 40px;
}

#financingavailable div {
    padding-left: none !important;
}

#linkinghomefooter {
    width: 100%;
    color: white;
    text-decoration: none;
    background-color: #222222;
}

#contact-us-header {
    height: 240px;
}

#contact-us-form {
    margin-bottom: 2em;
}

.iconheadroom i {
    margin-top: 0.5em;
}

.footroom {
    margin-bottom: 4rem !important;
}

.iphone p {
    line-height: 120%;
}

.forward {
    position: relative;
    z-index: 10;
}

.our-partners-text {
    margin-bottom: 2em;
}

.repairs-and-maintainance {
    margin-bottom: 2em;
    margin-top: 3em;
}

.free-quote-cctv {
    margin-top: 4em;
    margin-bottom: 4em;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

#microphone-push {
    margin-top: 16px;
}

.bs-example-navbar-collapse-1 div > ul > li > a {
    padding-left: 10px;
    padding-right: 10px;
}


/* Carousel base class */

.carousel {
    height: 500px;
    margin-bottom: 0px;
}


/* Since positioning the image, we need to help out the caption */

.carousel-caption {
    z-index: 10;
    font-size: 150%;
    color: white;
}

.iphone p {
    font-size: 75%;
}

#avs-slider-logo-xs {
    width: 100px;
    height: 100px;
}

.carousel-caption h1 {
    font-weight: bolder;
    color: white;
    text-transform: uppercase;
}


/* Declare heights because of positioning of img element */

.carousel .item {
    height: 500px;
    background-color: #777;
}

.carousel-inner > .item > img {
    min-width: 100%;
    min-height: 100%;
}

#carousel-microphone {
    font-size: 500%;
    color: white;
}

#home-cctv-carousel {
    color: white;
}


/*Grab paragraphs in Carousel that arent buttons*/

.carousel-caption > p:not(.btn) {
    color: white;
}

#avs-slider-slogo {
    margin-top: 1em;
}


/*NAVBAR*/

#navbar-phone-number {
    color: white;
}

#navbarcontact a {
    text-decoration: none;
    margin-top: -13px;
}

#navbarcontact li {
    margin-top: -22px;
}

#navbarcontact a {
    margin-right: 10px;
}

.avsnav {
    background: #020202;
}

.navbar-inverse .navbar-nav > li > a {
    color: rgba(255, 255, 255, 0.7) !important;
    transition: all 1s;
    font-weight: 600;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: rgba(255, 255, 255, 1) !important;
}

.navbar-inverse {
    background-color: #222222;
}


/*FOOTER*/

#footer {
    padding-top: 2rem;
    position: relative;
    bottom: 0;
    width: 100%;
    /*background-color: #222222;*/
    color: white;
}

.lowfooter div {
    margin-top: 4em;
}

#footerlink {
    opacity: 0.5;
    float: right;
}

#footerlink:hover {
    opacity: 1;
    color: white;
}

#footer h2,
#footer i,
#footer p {
    color: white;
}

.marketingbuttons {
    margin-top: 1.5em;
}

.sidetosidepanels {
    padding-top: 2em;
    padding-bottom: 2em;
}

#areyouconcerned {
    padding-bottom: 1rem;
    z-index: 15;
}

.marketing {
    padding-bottom: 2em;
}

#securitysidetoside {
    margin-top: 2em;
}

#avsjumbotron {
    margin-top: 2em;
}

.spaceonleft {
    margin-left: 1em;
}

#homeicon h1 {
    font-size: 900%;
}

.navbar-brand {
    color: white;
    margin-top: -2px;
}

img#navbarbrandlogo {
    padding-right: 6px;
    padding-top: 6px;
    max-height: 46px;
}

div.navbar-header {
    margin-right: -10px;
}

img#navbarbrandlogo-sm {
    padding-right: none;
}

.navbar-header {
    padding-top: 1px;
}

.headroom {
    margin-top: 2em;
}

.frontjumbo p {
    color: white;
}

p,
h1,
h2,
h3,
h4,
i,
ul {
    color: #020202;
}

.footroom {
    margin-bottom: 0.5em;
}

.navbar-inverse .navbar-brand {
    color: white;
}

#cyber-and-wifi-analysis {
    margin-top: 36px;
}

.jumbotron > .blacktext h1,
.blacktext h2,
.blacktext h3,
.blacktext p {
    color: #222222;
}

.col-md-9 > h1:nth-child(1) {
    color: #222222;
}

#footerlink {
    color: #7f8c8d;
    display: block;
    text-decoration: none;
}


/*Button Margins*/

.btn {
    margin-top: 15px;
}


/*GRADIENTS*/

.bluegradient {
    background-image: linear-gradient( #469ce5, #3678ae);
}

.orangegradient {
    background-image: linear-gradient( #F47920, #ce661c);
}

.dark-gradient {
    background: #010123;
    color: white !important;
}

.text-white {
    color: white !important;
}

/*HEADER IMAGES*/

.bluegradient h1 {
    font-weight: bold;
    color: white !important;
}

#security-products-header-text {
    color: white;
}

#covertpicture {
    margin-top: 5em;
}


/*#securitycamerasystems { background-color: #3C85C4; }*/

#securitycamerasystems {
    color: white;
}

#whoarewejumbo {}

#products {
    background-color: #3276B1;
}

#bugsweeping {
    background: url('https://www.avsecurity.com/wp-content/uploads/2014/04/LiffeyDublin.jpg');
}

#fraudinvestigation {
    background: url('https://www.avsecurity.com/wp-content/uploads/2014/04/courts-lg.jpg') no-repeat;
    background-position: 67% 12%;
    margin-top: 66px;
}

#electronicbugsweeping {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://www.avsecurity.com/wp-content/uploads/2017/04/bug-sweeping.jpg') no-repeat center;
}

#frontslider {
    background-color: #2c3e50;
}

#domesticcctv {
    background: url('https://www.avsecurity.com/wp-content/uploads/2014/03/moreblur.jpg');
}

#bugging-faq {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://www.avsecurity.com/wp-content/uploads/2014/05/IFSC.jpg);
}

#bugging-faq-xs {
    background: url(https://www.avsecurity.com/wp-content/uploads/2014/05/IFSC.jpg)
}

#commercialcctv {
    /*background: url(https://www.avsecurity.com/wp-content/uploads/2014/03/avgjumbobackround.jpg); */
    background: url(https://www.avsecurity.com/wp-content/uploads/2014/05/business-cctv1.jpg);
    height: 19em;
    /*background-position: 0 -356px;*/
}

#ipsecuritycameras {
    background-color: #2ecc71;
}

#areasatrisk {
    background: url(https://www.avsecurity.com/wp-content/uploads/2014/04/bugsweeping1920.jpg) no-repeat center;
}


/*.frontjumbo { background:url(https://www.avsecurity.com/wp-content/uploads/2014/04/bankskyline1.jpg) no-repeat center;}*/

.frontjumbo {
    background-color: #2c3e50;
}

#whoarewe {
    background-color: #e67e22;
}

#whoarewe h1 {
    color: #222222;
}

#homecctv {
    /*background: url(https://www.avsecurity.com/wp-content/uploads/2014/04/Photocall-9779-Housing-Estates-00137425.jpg) no-repeat center;*/
    /*background-color: #00BCD4;*/
    background: url('https://www.avsecurity.com/wp-content/uploads/2017/04/home-cctv-3.jpg');
    color: white;
}

.bg-blue {
    background-color: #00BCD4;
}

.bg-yellow {
    background-color: yellow;
}

.bg-yellow > h1 {
    color: #222;
}

#homecctv h1,
#homecctv p {
    color: #22222;
}

#spycameras,
#spycameras p {
    color: white;
    background-color: #222222;
}

.btn-cta {
    color: #ffffff;
    background-color: transparent;
    border-color: #ffffff;
    font-size: 16px;
    margin-bottom: 25px;
    letter-spacing: 2px;
    border-width: 2px;
}

.btn-cta:hover,
.btn-cta:focus,
.btn-cta:active,
.btn-cta.active,
.open .dropdown-toggle.btn-cta {
    color: #2f2f2f;
    background-color: #ffffff;
    border-color: white;
}

#spycameraimage {
    margin-top: 2em;
}

#mobilephonehackingimg {
    margin-top: 2em;
}

.2emheadspace {
    margin-top: 2em;
}

#frontpagedarkmiddle {
    background: url(https://www.avsecurity.com/wp-content/uploads/2014/04/bankskyline1.jpg) no-repeat center;
    width: 100%;
    height: 10em;
    margin-top: 3em;
    margin-bottom: 3em;
}

.front-page-row-3 {
    margin-top: 3em;
}

.bighead {
    margin-top: 4.5em;
}


/*FONT COLOURS*/

#electronicbugsweeping h1 {
    color: #222222;
}

#fraudinvestigation h1 {
    color: #222222;
}

div#fraudinvestigation {
    margin-top: 60px;
}

#areasatrisk h1,
#areasatrisk p {
    color: white;
}

.frontjumbo p,
.frontjumbo h1 {
    color: white;
}

#navbarlogo {
    z-index: 4;
}

#navbarbrandlogo {
    /*margin-top: 5px;*/
    margin-bottom: 5px;
}

.navbar div {
    min-height: 70px;
}

@media(min-width:768px) {

.navbar-nav > li > a {
    padding-top: 23px;
    padding-bottom: 27px;
}
} 

#psa-license {
    padding-top: 12px;
}

.licenses {
    margin-bottom: 15px;
}

#nomarginlicence {
    margin-bottom: none;
}

.navbar-brand {
    padding-top: 10px;
}

#getintouch {
    padding-top: 40px;
    z-index: 5;
}

#contactform {
    margin-top: 3em;
}


/*SOCIAL*/

#sociallinkspanel {
    text-decoration: none;
}

.socialicons {}

#commercialcctv h1,
#commercialcctv p {
    color: white;
}

#commercial-cctv-header {
    color: white;
    padding-bottom: 10rem;
    background: url('https://www.avsecurity.com/wp-content/uploads/2017/05/commercial-cctv2.jpg');
}

#sidebardiv {
    margin-top: 2em;
}


/*NEWS*/

.avNewsPost {
    padding: 2em;
}

.newsPostFeaturedImage {
    margin-top: 30px;
}

.news-single-wrap {
    margin-top: 3em;
}

.single-post-content {
    margin-top: 25px;
}


/*PARTNERS*/

.partnerlogos {
    opacity: 0.54;
}

#milestone {
    
    max-height: 150px;
}

#axis {
    margin-top: -50px;
}

#exacq {
    padding-top: 59px;
}

#delightedtotakeyourcall {
    margin-top: 40px;
    padding: 2em;
}

#partnergrid {
    padding: 3em;
}

img {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
}


/*PAGES: ---------------------------------*/

.vid {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.vid iframe,
.vid object,
.vid embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*Single news*/

.news-single-wrap {
    margin-top: 3em;
}


/*BUGGING FACTS*/

#mobile-phone-as-bugs-image {
    margin-top: 3em;
}


/*News Home Page*/

.news-article-summary-headers a:hover {
    text-decoration: none;
}

.single-post-header-image {
    margin-left: auto;
    margin-right: auto;
}

.addons-blocks div {
    margin-bottom: 2em;
}

.marketingbuttons a {
    margin-bottom: 15px;
}

.marketingdivs div {
    margin-bottom: 15px;
}


/*covert cameras*/

#tinycam {
    margin-top: 30px;
}


/*CONTACTFORM*/

#contactform {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0.3em;
    padding-bottom: 0.5em;
}

.partnerlogodivs {
    max-height: 125px;
}


/*FRAUDINVESTIGATION*/

#fraudimagetop {
    margin-top: 91px;
}

#frauditsecurityimage {
    margin-top: 92px;
}

.footersociallinks p,
.footersociallinks a {
    margin-bottom: none;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    z-index: 100;
    opacity: 0.9;
}

.justified {
    text-align: justify;
}

.product-single-wrap {
    margin-top: 5em !important;
    margin-bottom: 5em !important;
}

#product-single-title {
    font-weight: bold;
}

.single-post-content p {
    padding-bottom: 1.5em;
}

#wifi-audits-image {
    margin-top: 2em;
    margin-right: 2em;
}

.vertical-align {
    display: inline-block !important;
    vertical-align: middle !important;
    line-height: 585px;
}

#ip-cameras-header {
    margin-top: 50px;
}

a#get-in-touch-sm {
    color: white;
}

.focalise-link > a {
    font-family: 'Roboto';
    color: white;
    /*margin-bottom: 0;*/
}

/*footer {
    margin-top: 24px;
}*/

.woocommerce {
    margin-top: 80px;
}

.av-product-archive {
    margin-top: 60px;
}

.product {
    margin-top: 80px;
}

ul.products {
    list-style-type: none;
}

.product-benefits {
    padding-top: 24px;
    color: white;
}

span.price {
    margin-right: 48px;
}

.single_add_to_cart_button {
    margin-bottom: 24px;
}

.shop-header {
    background-color: #222;
    padding: 2rem;
}

.shop-header > div > h1 {
    color: white;
    /*text-transform: uppercase;*/
}

.wc-tabs {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

span.amount {
    font-size: 1.75rem;
}

.single-product-short-description {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

form.woocommerce-ordering {
    display: none;
}

h1.product_title.entry-title {
    font-weight: 700;
}

.product_meta {
    margin-top: 2rem;
}

.m-t-2 {
    margin-top: 2rem;
}

.m-t-3 {
    margin-top: 3rem;
}

.m-t-4 {
    margin-top: 4rem;
}

.p-t-4 {
    padding-top: 4rem;
}

.m-b-2 {
    margin-bottom: 2rem;
}

.about-hero {
    margin-top: 6rem;
}

div.focalise-link.text-center {
    margin-top: 6rem;
}

.shop-hero > h1 {
    font-weight: 700;
    color: white;
    padding-top: 2rem;
}

.shop-hero > p.lead {
    color: white;
}

.shop-hero > h3 {
    color: white;
    margin-top: 4rem;
}

.shop-hero > h3 > i.fa {
    color: white;
}

i._mi {
    color: white !important;
}

.avs-footer {
    margin-top: 6rem;
}

.view-cart-btn {
    margin-right: 1rem;
    color: white;
}

.view-cart {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.fa-chevron-left {
    color: white;
}

.your-cart-jumbotron {
    margin-top: -10px;
}

.bug-sweeping-hero {
    font-weight: 700;
}

h1.bug-sweeping-hero {
    color: white !important;
}

.free-delivery {
    color: white;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

.btn-group-sm .btn-fab{
  position: fixed !important;
  right: 29px;
}
.btn-group .btn-fab{
  position: fixed !important;
  left: 20px;
}
#get-a-quote-now{
  bottom: 30px;
}
#mail{
  bottom: 80px
}
#sms{
  bottom: 125px
}
#autre{
  bottom: 170px
}

.quote-chevron {
    padding-left: 5px;
    color: white;
}

.get-quote-btn, #back-to-top {
 -webkit-box-shadow: 7px 10px 36px -8px rgba(40,90,189,1);
-moz-box-shadow: 7px 10px 36px -8px rgba(40,90,189,1);
box-shadow: 7px 10px 36px -8px rgba(40,90,189,1);

}

section.cctv-range {
    margin-top: 10rem;
    margin-bottom: 10rem;

}

section {
    margin-top: 4rem;
    margin-bottom: 6rem;
}

.news-item {
    margin-bottom: 6rem;
}

ul.navbar-nav > li {
    text-transform: uppercase;
    font-weight: 700;
}

.page-hero {
    margin-top: 2rem;
}

.page-hero > h1 {
    text-transform: uppercase;
    font-weight: 700;
}

section.repairs {
    padding-top: 8rem;
    padding-bottom: 10rem;
    margin-bottom: 0;
    color: white;
    background: #222;
    /*background: url('https://www.avsecurity.com/wp-content/uploads/2017/03/cctv-repair.jpg');*/
}

section.repairs > div > div > h2,
section.repairs > div > div > p {
    color: white;
}
section.repairs > div > div > p.lead {
    color: white;
    margin-bottom: 5rem;
}

.focalise-link {
    text-transform: uppercase;
    font-size: 0.8em;
}

section.bottom-cta {
    margin-bottom: 0;
}
.navbar-inverse .navbar-nav>li>a {
    font-weight: 500;
}

section.footer-links {
    background: #010123;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #286090;
    text-transform: uppercase;
}

section.footer-links > div > div > div > ul {
    list-style: none;
}

section.footer-links > div > div > div > ul > li {
    margin-top: 1rem;
    font-size: 1.5rem;
}

.add-ons-hero {
    background: url('https://www.avsecurity.com/wp-content/uploads/2017/03/cctv-add-ons.jpg');
    background-position: center center;
}

h1#security-products-header-text {
    font-weight: 700;

}

.bold {
    font-weight: 700 !important;
}

.footer-links > div > div > div > ul > li > a {
    color: white;
}

h2.tscm-surveys-header {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
}

h3.tscm-header {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 2rem;
}

.tscm-icons {
    opacity: 0.8;
}

ul.business-security li {
    list-style-type: none;
    display: inline;
    font-size: 2rem;
    padding-right: 2rem;
}

#business-security {
    background: black;
    padding-top: 5rem;
    padding-bottom: 6rem;
    font-weight: 700;
    color: white;
}

#business-security p {
    color: white;
}

#business-security h2 {
    color: white;
}


.btn {
     font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.btn-primary {
    color: #fff;
    background-color: #222;
    text-transform: uppercase;
}

.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #333;
  border-color: #122b40;
}
.btn-primary:hover {
  color: #fff;
  background-color: #333;
  border-color: #222;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #337ab7;
  border-color: #2e6da4;
}


.home-cctv-hero-img {
    max-height: 250px;
}

.add_to_cart_button {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}
.panel-primary {
    border-color: #222;
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #222;
    border-color: #222;
    max-width: 100%;
    min-height: 100%;
}

.avs-benefits {
    background: #222;
    padding-top: 2rem;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
    background-position: center center;
    margin-top: 0;
}

section.repairs {
    margin-top: 0;
}


a > i.fa-info {
    color: white;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: #222;
    color: white;
}

ul.nav-pills {
    color: #222 !important;
    text-transform: uppercase;
}

ul.nav-pills > li > a {
    color: #222 ;
}

button.quote-header {
    background-color: #222;
    color: white;
}

button.quote-header:hover,button.quote-header:focus, button.quote-header:active {
    background-color: #111;
    color: white;
}
.front-avs-hero-text {
    font-size: 6rem;
}

.rss-feeds {
    display: none !important;
}

.footer-top {
    margin-top: 0;
    background-color: #222;
}

.remote-viewing {
    margin-top: 4rem;
}

.mt-4 {
    margin-top: 4rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.security-systems {
    margin-bottom: 3rem;
}

.deterrance {
    background-color: #222;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

section.advantages-of-cctv {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.burglar {
    margin-top: 6rem;
}

.newspaper-bg {
    background: url('https://www.avsecurity.com/wp-content/uploads/2017/04/newspaper-1.jpg');
    position: center center;
    color: white !important;
}

.price-match-img {
    margin: 0 auto;
}

.price-match-wrap {
    margin: 0;
    background-color:#010123;
}

.call-now-wrap {
    background-color: #3FA8F5;
    padding: 2rem;
}

section.pay-monthly {
    padding-top: 2rem;
}

section.did-you-know {
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.alan-photo {
    margin-top: 4rem;
}

.alan-img-wrap {
    background-color: #222;
}

.alan-img-wrap > p {
    color: white;
    padding: 1rem;
}

.questions {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.avs_mini_bio {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.smart-features {
    margin-bottom: 2rem;
}

jumbotron.smart-cctv {
    background-color: lightgray;

}

.news-single-wrap {
    padding-top: 4rem;
}
.shop-header {
    margin-top: 4rem;
}
#footer-call-link, #large-footer-email-link {
    color: white;
}