        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills">
                    <li class="active"><a href="#Hotels" data-toggle="pill">Hotels</a></li>
                    <li><a href="#NightclubsBarsPubs" data-toggle="pill">Nightclubs, Bars & Pubs</a></li>
                    <li><a href="#Restaurants" data-toggle="pill">Restaurants</a></li>
                    <li><a href="#Offices" data-toggle="pill">Offices</a></li>
                    <li><a href="#NursingHomes" data-toggle="pill">Nursing Homes</a></li>
                    <li><a href="#CarParks" data-toggle="pill">Car Parks</a></li>
                    <li><a href="#Shops" data-toggle="pill">Shops</a></li>
                    <li><a href="#Schools" data-toggle="pill">Schools</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="Hotels">
                        <!--<img src="http://placehold.it/1280x720" alt="" class="img-responsive">-->
                        <h2>CCTV For Hotels</h2>
                        <p class="lead">Looking for a reliable, professional and experienced hotel CCTV installer?</p>
                        <p>CCTV is a vital addition to the security system of any hotel. A professional CCTV installation in
                            your hotel offers considerable piece-of-mind and the added comfort of live security to your guests
                            and staff alike. This ensures a more comfortable and relaxed stay for residents alongside a safer
                            working environment for hotel staff. We offer a variety of options and can design a CCTV system
                            to exactly suit your hotel’s requirements.
                        </p>
                        <h3>Popular installations:</h3>
                        <ul>
                            <li>Lobby & reception</li>
                            <li>Facial Recognition at the entrance</li>
                            <li>Bar area</li>
                            <li>Elevators</li>
                            <li>Stairwell / Fire escape</li>
                            <li>Hallways</li>
                            <li>“Restricted Access Areas”</li>
                            <li>Car park</li>
                            <li>Hotel grounds & outdoor guest areas</li>
                        </ul>
                        <p>It is likely to be important to you and your hotel that many or all of these areas are secure and
                            safe environments for you, your guests and your employees at all times. Get in touch today for
                            a free quote.
                        </p>
                    </div>
                    <div class="tab-pane" id="NightclubsBarsPubs">
                        <!--<img src="http://placehold.it/1280x720" alt="" class="img-responsive">-->
                        <h2>CCTV For Nightclubs, Bars and Pubs</h2>
                        <p class="lead">CCTV cameras are a vital tool in the protection and fight against crime and violence in bars, pubs
                            and night clubs.</p>
                        <p>There are several advantages of having surveillance systems in operation such as:</p>
                        <ul>
                            <li>It enables security staff to be directed immediately to a trouble spot.</li>
                            <li>Staff and customers feel much safer;</li>
                            <li>It acts as a deterrent to would-be offenders.</li>
                            <li>Will help in the procuring of your license as many councils now want CCTV fitted in all bars
                                and pubs and of course ours fully comply to these requirements.</li>
                            <li>it gives undeniable evidence of offenders and helps bring them to justice.</li>
                        </ul>
                        <p>A CCTV system will protect your employees, and can also be used for spotting any in-house irregularities.
                            It is a useful tool when carrying out of health and safety procedures ensuring that no false
                            claims can be made which can cost you thousands of pounds or a hefty increase in your insurance
                            payments. or cleaning procedures and can help you keep an eye on the welfare of the customers.</p>
                        <p>CCTV camera systems can be tailor made for your Bar and nightclubs requirements and professionally
                            designed, installed to suit all your licensing requirements and the precise needs of your business,
                            using the very latest digital recording technology. With complete remote internet viewing and
                            access as standard included.
                        </p>
                        <p>Call us now to get advice on the system that will best suit your needs. It is always advisable to
                            use CCTV company well versed in the bar industry</p>
                        <p>Technology has advanced rapidly in the CCTV area and now enables you to view what is actually happening
                            without actually being on the premises and can be accessed using any standard internet connection
                            mobile phone devices.</p>
                        <p>24hr maintenance, training and support is also available.</p>
                    </div>
                    <!-- RESTARUANTS -->
                    <div class="tab-pane" id="Restaurants">
                        <!--<img src="http://placehold.it/1280x720" alt="" class="img-responsive">-->
                        <h2>CCTV For Restaurants</h2>
                        <p>There are great benefits to be had from the installation of CCTV systems in restaurants.</p>
                        <p>Some of the main advantages are:</p>
                        <p>The most obvious one, are those people who sneak out without paying their bill. If cameras are installed
                            in the dining area and a monitor watched, then this can be a difficult to complete. There are
                            always signs customers are preparing to leave and the monitor allows enough time for an employee
                            to step in and politely remind them. Often a customer will leave cash with their receipt and
                            leave you can then make sure this money is collected in a timely manor before the next customer
                            sits at the table who may also collect the cash.</p>
                        <p>A good CCTV system can pay for itself in a very short space of time as it will highlight areas where
                            you are losing money for a variety or reasons such as employee errors, or possible deliberate
                            theft. Another area is staffing as perhaps some may not be as conscientious and hard working
                            as others. It can even be used to direct staff to tables that need clearing ready for the next
                            customer.
                        </p>
                        <p>CCTV camera systems can be tailor made for your restaurant or Eatery requirements and professionally
                            designed, installed to suit all your licensing requirements and the precise needs of your business,
                            using the very latest digital recording technology. With complete remote internet viewing and
                            access as standard included.</p>
                        <p>Of course you must remember to keep cameras out of areas where it could be argued that invasion of
                            personal privacy has occurred Of course the areas such as the foyer and entrance, dining rooms,
                            bars, stockrooms and kitchens car park are all public areas</p>
                        <p>Technology has advanced rapidly in the CCTV area and now enables you to view what is actually happening
                            without actually being on the premises and can be accessed using any standard internet connection
                            mobile phone devices.</p>
                        <p>24hr maintenance, training and support is also available.</p>
                    </div>
                    <!-- Offices -->
                    <div class="tab-pane" id="Offices">
                        <!--<img src="http://placehold.it/1280x720" alt="" class="img-responsive">-->
                        <h2>CCTV For Offices</h2>
                        <p class="lead">Office CCTV systems can be beneficial for many reason. It will help to protect your property as well
                            as your staff members.</p>
                        <p>Outside wall cameras on the property are a very good deterrent to anyone who has intentions of illegally
                            entering the building day or night. Very few criminals are brave enough, or stupid enough, to
                            break into a property when they can see a CCTV camera and know they will be recorded on camera,
                            this in turn will be used by the police for identification, arrest and prosecution purposes.
                            The same applies to those wishing to cause vandalism and graffiti to your building walls and
                            windows.
                        </p>
                        <p>Car parking cameras that cover parking spaces belonging to the office also play a vital role deterring
                            car theft, vandalism and fly tipping. Also they can relay back to your reception your important
                            guests arriving.
                        </p>
                        <p>Additional benefits come in the form of being able to keep an eye on your employees time keeping,
                            honesty, moral and will quickly make you aware of any disagreements which are arising so that
                            they can be sorted quickly and fairly. If there are any breaches of security or theft occurring
                            then the cameras will pick this up giving you an insight in to who and more importantly in preventing
                            further incidents</p>
                        <p>CCTV used correctly can be used to benefit your employees giving you instant knowledge of your hard
                            workers and those that are not working so well or perhaps struggling with different aspects of
                            their jobs giving you an insight as to where training would be most appropriate. Used in the
                            right way, the cameras can help you with many aspects and help you bring your employees together.</p>
                        <p>Call us now to get advice on the system that will best suit your needs.</p>
                        <p>Technology has advanced rapidly in the CCTV area and now enables you to view what is actually happening
                            without actually being on the premises and can be accessed using any standard internet connection
                            mobile phone devices.</p>
                        <p>24hr maintenance, training and support is also available.</p>
                    </div>
                    <!-- Nursing Homes -->
                    <div class="tab-pane" id="NursingHomes">
                        <!--<img src="http://placehold.it/1280x720" alt="" class="img-responsive">-->
                        <h2>CCTV For Nursing Homes</h2>
                        <p>CCTV can help to protect both their residents and employees. Cameras placed at entrances and exits
                            can help your staff not only from unwanted intruders. But also aid them especially for those
                            patients who have memory care problems. Cameras placed near exits can help you prevent confused
                            residents from wandering outdoors unsupervised without having to lock doors.</p>
                        <p>Car parking cameras that cover parking spaces belonging to the nursing/care home also play a vital
                            role deterring car theft, vandalism and fly tipping. This in turn will also make the area a safer
                            place for staff arriving and leaving often at strange hours due to their shift patterns.
                        </p>
                        <p>CCTV also offers protection for the staff and patients and can help the owner, who is able to monitor
                            any irregularities involving the work force. If staff know they are being watched there will
                            be far less chance of them not following procedures and can help you find your high performance
                            staff, where additional staff training is required and those that may be suited to a different
                            less dedicated profession.
                        </p>
                        <p>It allows you to keep track of your cleaning teams, to have an additional eye on your drugs cabinet,
                            the benefits are endless.</p>
                        <p>Of course you must remember to keep cameras out of areas where it could be argued that invasion of
                            personal privacy has occurred. Of course the areas such as reception, corridors, dining rooms,
                            lounges and kitchens car park are all public areas</p>
                        <p>Technology has advanced rapidly in the CCTV area and now enables you to view what is actually happening
                            without actually being on the premises and can be accessed using any standard internet connection
                            mobile phone devices.</p>
                        <p>24hr maintenance, training and support is also available.</p>
                    </div>
                    <div class="tab-pane" id="CarParks">
                        <!--<img src="http://placehold.it/1280x720" alt="" class="img-responsive">-->
                        <h2>CCTV For Car Parks</h2>
                        <p>Car and bike theft is an ever increasing crime whether it is gangs targeting your car park or joyriders
                            it still gives creates major problems for car park owners and their customers.</p>
                        <p>Using the latest in Infra Red day and night vision CCTV Cameras placed correctly around the car park
                            can help your security staff monitor all the levels at one time pin point the specific levels
                            car alarms have been triggered and act quickly to prevent crime.</p>
                        <p>Gone are the days where several staff are needed to patrol the different levels and areas CCTV can
                            monitor your car park from one room all in one go It is a major deterrant to those wishing to
                            steal or vandalize cars.
                        </p>
                        <p>Wall cameras in the car park are a very good deterrent to anyone who has intentions of stealing a
                            car, breaking into a car. Very few criminals are brave enough, or stupid enough to break the
                            law when they can see a CCTV camera and know they will be recorded on camera, this in turn will
                            be used by the police for identification, arrest and prosecution purposes. The same applies to
                            those wishing to cause vandalism and graffiti to your building walls therefore saving you thousands
                            in cleaning up the mess and keeps your building looking like the best and safest one around.</p>
                        <p>Technology has advanced rapidly in the CCTV area and now enables you to view what is actually happening
                            without actually being on the premises and can be accessed using any standard internet connection
                            mobile phone devices.</p>
                        <p>24hr maintenance, training and support is also available.</p>
                    </div>
                    <!-- Shops -->
                    <div class="tab-pane" id="Shops">
                        <!--<img src="http://placehold.it/1280x720" alt="" class="img-responsive">-->
                        <h2>CCTV For Shops</h2>
                        <p class="lead">Practically every shop now has CCTV cameras, whether it is your small local store or one of the major
                            superstore chains.</p>
                        <p>Cameras are excellent at deterring would-be shoplifters often putting them off by their presence,
                            Security staff or owners can watch those members of the public acting oddly and for those thieves
                            not deterred and willing to take the risk, recorded footage can be used by the police for identification,
                            arrest and prosecution purposes.</p>
                        <p>CCTV also offers protection for the staff attacks and can help the owner, who is able to monitor
                            any irregularities involving the work force. If staff know they are being watched there will
                            be far less chance of them doing anything underhand, and it can also help you find your high
                            performance staff.</p>
                        <p>For instance, our CCTV systems also allow you to integrate your till overlays onto the camera images,
                            which allows you to double check what your members of staff are entering ito the tills and goods/change
                            that have been given.</p>
                        <p>Shoplifting, vandalism and actions by employees are all under constant surveillance of the camera.</p>
                        <p>CCTV used correctly can be used to benefit your employees giving you instant knowledge of your hard
                            workers and those that  are not working so well or perhaps struggling with different aspects of
                            their jobs giving you an insight as to where training would be most appropriate. Used in the
                            right way, the cameras can help you with many aspects and help you bring your employees together.</p>
                        <p>Call us now to get advice on the system that will best suit your needs.</p>
                        <p>Technology has advanced rapidly in the CCTV area and now enables you to view what is actually happening
                            without actually being on the premises and can be accessed using any standard internet connection
                            mobile phone devices.</p>
                        <p>24hr maintenance, training and support is also available.</p>
                    </div>
                    <div class="tab-pane" id="Schools">
                        <!--<img src="http://placehold.it/1280x720" alt="" class="img-responsive">-->
                        <h2>CCTV for Schools</h2>
                        <p class="lead">CCTV cameras are essential these days in schools and can be very beneficial for pupils parents and
                            teachers.
                        </p>
                        <p>In the playground it can help teachers control bullying which unfortunately these days can be a very
                            real concern, it can help teachers nip and sort an problems/ incidents that arise between groups
                            of children, with a CCTV system in operation gone are the he said she said and which one of them
                            is right and wrong scenarios it will all be recorded so no mistakes can be made.</p>
                        <p>On school entrances and exits a good system can help monitor and control incidents of truancy, lack
                            of punctuality, smoking, and bullying. In all schools but most especially Nurseries and kindergarten
                            schools it will aid teachers in making sure that no unauthorized personal get onto the premises
                            or loiter outside, unfortunately in this day and age an all to often occurrence.
                        </p>
                        <p>It goes without saying that the same cameras will also record any un-authorized intruders at out
                            of school times protecting not only the school for burglars but also from vandalism, especially
                            any more remote entrances, and the school car park.</p>
                        <p>School busy corridors and places where there are likely to be queues or large crowds can also be
                            monitored, a good place to install cameras are over toilet entrances especially if damage has
                            been occurring as it will help identify those present when damage has taken place.</p>
                        <p>Meetings can be monitored and have good benefits for both staff and pupils identifying areas where
                            additional training and hard to handle awkward confrontations with either pupils or parents.
                        </p>
                        <p>Used correctly, CCTV can help to create a safe, sound and caring environment allowing teachers to
                            do their jobs to the best of their abilities therefore giving everyone concerned peace of mind.</p>
                        <p>There are areas which many people will think it inappropriate to use CCTV cameras and this should
                            always be taken into consideration, it is always best to keep cameras out of areas where it could
                            be argued that invasion of personal privacy has occurred but used correctly a good surveillance
                            can be an intelligent and caring way to create the right kind of environment for study and learning.</p>
                        <p>24hr maintenance, training and support is also available.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>